@import url(../../banks/bank/bank.component.scss);

.activation-div {
    margin: 30px 0;
}

.activation-txt {
    font-weight: 500;
}

.hidden-i {
    display: none;
}

.rola {
    font-size: 13px;
    opacity: 0.8;
}
