<div class="login-wrapper">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="login-form p-5">
        <h3 class="form-title">Zaboravljena lozinka</h3>
        <div class="field-wrapper">
            <mat-label>Email</mat-label>
            <mat-form-field appearance="outline">
            <input
                matInput
                formControlName="email"
                type="email"
                placeholder="Email"
                name="email"
                ngModel
            />
            </mat-form-field>
            <mat-error *ngIf="showValidationMessage('email')">
            <strong>{{ 'email' | translate }}</strong>
            </mat-error>
        </div>
        <button type="submit" class="btn btn-primary mt-4 login-btn">
            Pošalji
        </button>
    </form>
</div>

