.subs {
    margin: 40px 0 0 20px;
    display: flex;
}

#table_2 {
    width: 400px;
    box-shadow: 7px 0px 7px #cccccc;
}

.sub-check {
    margin-top: 0;
}

.inpt-sub {
    outline: none;
    border: none;
}

.flex {
    display: flex;
}

.form-subs {
    padding-bottom: 30px;
}

table {
    width: 100%;
}

.box {
    margin-left: 3px;
}

.box2 {
    margin-left: 6px;
}
